a {
  color: #0088ce;
}
a,
a:hover {
  text-shadow: 0 0 #666666;
}
abbr {
  border-bottom: dotted 1px #666666;
}
blockquote {
  font-size: 0.9em;
  font-style: italic;
  margin: 1rem;
}
blockquote:after,
blockquote:before {
  content: '"';
}
h1,
h2,
h3 {
  border-bottom: solid 1px #666666;
  margin-bottom: 0.5em;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 0.5em;
}
h1 {
  font-size: 2em;
  line-height: 1em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
ol,
ul {
  margin: 0.5em 0;
}
ol li {
  list-style-type: decimal;
}
p {
  line-height: 1.1em;
  margin: 0.5em 0;
}
ul li {
  list-style-type: disc;
}
ul ul {
  margin-left: 1em;
}
.big {
  font-size: 2em;
  margin: 2em 0;
}
